# Copy this file and rename to terraform-local.tfvars if you 
# want to do local testing. Then run:
#
#   terraform apply -var-file =terraform.tfvars -var-file=terraform.tfvars.json -var-file=terraform-local.tfvars
#
# Keep in mind that this file is ignored by git

## Images to test HTTP connectivity with port 80
# container_image = "nginx:latest"
# container_image = "nginx:1.27-alpine"
# container_port = 80


## Images to test Postgres connectivity
# container_image                 = "dpage/pgadmin4:8.10"
# container_image                 = "dpage/pgadmin4:8.11.0"
# container_port = 80
#`
# container_environment     = {
#     "PGADMIN_DEFAULT_EMAIL"     = "theadmin@noreply.com",
#     "PGADMIN_DEFAULT_PASSWORD"  = "password",
#     "PGADMIN_LISTEN_PORT"       = 80,
# }

# Local 1st-run variables, after that they will be stored in the tfvars.json
# container_image = "371941937463.dkr.ecr.us-east-2.amazonaws.com/nft-ipfs-metadata-dev:latest"
# container_image = "371941937463.dkr.ecr.us-east-2.amazonaws.com/nft-ipfs-metadata-dev:c20391b"

## ECS dev options

ecs_circuit_breaker = {
  enable : false    # keep ECS restarting the task
  rollback : false  # Don't revert to the last working image
}